
/********************/
/*    Main frame    */
/********************/

.game {
}

/********************/
/*  Miscellaneous   */
/********************/

.equipment {
    font-weight: bold;
}

/********************/
/*  Character HUD   */
/********************/

.HUD_character {
    position: relative;
    float: left;
    width: 250px;
    height: 56px;
    border-radius: 15px 15px 15px 15px;
    background-color: #E7E0CF;
    line-height:15px;
    color: #000;
}
.HUD_character_avatar {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    margin-left: 3px;
    width: 50px;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    background-color: #fff;
    line-height:50px;
    text-align: center;
}
.HUD_character_barcur {
    position: absolute;
    max-width:150px;
    max-height:10px;
    margin-left: 57px;
    margin-top: 1px;
}
.HUD_character_bar {
    position: absolute;
    width:150px;
    margin-left: 56px;
    line-height: 10px;
    border:solid;
    border-width:1px;
    font-size: 11px;
    text-align:center;
    color:#fff;
    z-index:1;
}
#HUD_character_barcur_HP {
    bottom: 28px;
}
#HUD_character_bar_HP {
    bottom: 27px;
}
#HUD_character_barcur_MP {
    bottom: 15px;
    background-color: #4478FF;
}
#HUD_character_bar_MP {
    bottom: 14px;
}
#HUD_character_barcur_XP {
    bottom: 2px;
    background-color: #9D7CBC;
}
#HUD_character_bar_XP {
    bottom: 1px;
}

/********************/
/*   Minimap HUD    */
/********************/

.HUD_minimap {
    float: right;
    width: 100px;
    height: 56px;
    border-radius: 15px 15px 15px 15px;
    background-color: #E7E0CF;
    text-align: center;
    color: #000;
}
#HUD_zone_location {
    font-style: italic;
}

/********************/
/*    Quests HUD    */
/********************/

.HUD_quests {
    display: inline;
    clear: right;
    float: right;
    width: 180px;
    margin-top: 20px;
}
.HUD_quests_title {
    width: 180px;
    border-radius: 5px 5px 5px 5px;
    background-color: #FFA500;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    text-align:center;
}

/********************/
/*   Menu window    */
/********************/

.menu_window_frame {
    position: absolute;
    width: 460px;
    height: 340px;
    display: none;
    z-index: 1;
    top:130px;
    left:170px;
    border:solid;
    border-width:1px;
    background-color: #fff;
    box-shadow: 0 0 10px 10px #ccc;
    padding: 10px 10px;
    z-index:2;
}
.menu_window_frame_title {
    width: 460px;
    background-color: #FF2500;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    text-align:center;
    margin-bottom:10px;
}

/********************/
/*  Character Menu  */
/********************/

.menu_character_stat {
    position: absolute;
    left: 141px;
    width: 130px;
}
.menu_character_stat_title {
    width: 130px;
    border-radius: 5px 5px 5px 5px;
    background-color: #FFA500;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    text-align:center;
}
.menu_character_avatar {
    float: left;
    vertical-align: middle;
    width: 100px;
    height: 150px;
    border-radius: 15px 15px 15px 15px;
    border: solid;
    border-width: 1px;
    background-color: #fff;
    line-height:150px;
    text-align: center;
    padding: 10px 10px;
}
.menu_character_equipment {
    position: absolute;
    left: 280px;
    width: 190px;
}
.menu_character_equipment_title {
    width: 190px;
    border-radius: 5px 5px 5px 5px;
    background-color: #FFA500;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    text-align:center;
}

/********************/
/*   Talents Menu   */
/********************/

/********************/
/*   Quests Menu    */
/********************/

/********************/
/*  Inventory Menu  */
/********************/

.menu_inventory_gold {
    position: absolute;
    width: 130px;
    bottom: 5px;
    right: 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #FFA500;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    text-align:center;
}

/********************/
/* Guild stash Menu */
/********************/

/********************/
/*    Guild Menu    */
/********************/

/********************/
/*     Map Menu     */
/********************/

.menu_worldmap_zone:hover {
    text-shadow: 1px 1px 1px #888;
}

/********************/
/*    Menu Menu     */
/********************/

/********************/
/*    Zone frame    */
/********************/

.zone_frame {
    clear: left;
    position: relative;
    height: 250px;
    display: none;
    border-style: dotted;
    border-width: 1px;
    margin-top: 66px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;
    padding: 10px 10px;
}
.zone_frame_title {
    width: 380px;
    background-color: #FF2500;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    text-align:center;
    margin-bottom:10px;
}
.city_zone_title {
    width: 180px;
    border-radius: 5px 5px 5px 5px;
    background-color: #FFA500;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    text-align:center;
}

/********************/
/*    City zone     */
/********************/

.city_zone_reputation {
    text-align: center;
}
.city_zone_description {
    text-align: justify;
}
.city_zone_left {
    width: 180px;
    float: left;
}
.city_zone_right {
    width: 180px;
    float: right;
}
.city_facilities {
    position: absolute;
    bottom: 10px;
}
.city_facilities_btn {
    color: #fff;
    border:solid;
    border-width:1px;
    background-color: #FFA500;
    border-color:#CC8400;
    padding: 2px 2px;
    box-shadow: 1px 1px 0px 0px #ccc;
}
.city_facilities_btn.disabled {
    color: #999;
    background-color: #ccc;
    border-color:#999;
    box-shadow: 1px 1px 0px 0px #666;
}
.city_facilities_btn:hover {
    background-color: #DFE5A9;
    border-color:#B2B787;
}
.city_facilities_btn.disabled:hover {
    background-color: #ccc;
    border-color:#999;
}
.city_available_quest {
    border-radius: 3px 3px 3px 3px;
    color:#000;
}
.city_available_quest:hover {
    color:#E59400;
    font-weight:bold;
}
.city_quest_btn {
    color: #fff;
    border:solid;
    border-width:1px;
    background-color: #FFA500;
    border-color:#CC8400;
    padding: 2px 2px;
    box-shadow: 1px 1px 0px 0px #ccc;
}
.city_quest_btn.accept:hover {
    background-color: #DFE5A9;
    border-color:#B2B787;
}
.city_quest_btn.decline:hover {
    background-color: #E19DB9;
    border-color:#B47D94;
}
#city_status {
    display: inline;
}
#quest_status {
    display: none;
}

/********************/
/*   Shop window    */
/********************/

.shop_buy {
    position: absolute;
    left: 250px;
    width: 220px;
}
.shop_buy_title {
    width: 220px;
    border-radius: 5px 5px 5px 5px;
    background-color: #FFA500;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    text-align:center;
}
.shop_sell {
    position: absolute;
    width: 220px;
}
.shop_sell_title {
    width: 220px;
    border-radius: 5px 5px 5px 5px;
    background-color: #FFA500;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    text-align:center;
}

/********************/
/*   Monster zone   */
/********************/

.monster_frame {
    position: absolute;
    margin-left:10px;
    text-align:center;
    width:56px;
    height:86px;
    border-radius: 15px 15px 5px 5px;
    background-color: #E7E0CF;
}
.monster {
    position: absolute;
    margin-left:10px;
    text-align:center;
    width:50px;
    height:50px;
    line-height:50px;
    border-radius: 3px 3px 3px 3px;
    background-color: #E7E0CF;
}
#monster_frame0 {
    top: 100px;
    left: 60px;
}
#monster_frame1 {
    top: 100px;
    left: 160px;
}
#monster_frame2 {
    top: 100px;
    left: 260px;
}
.monster_avatar {
    float: left;
    margin-right: 5px;
    margin-top: 3px;
    margin-left: 3px;
    width: 50px;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    background-color: #fff;
    line-height:50px;
    text-align: center;
}
.monster_bar_HP {
    position: absolute;
    width:50px;
    line-height: 10px;
    border:solid;
    border-width:1px;
    font-size: 11px;
    text-align:center;
    color:#fff;
    z-index:1;
    margin-left: 2px;
}
.monster_barcur_HP {
    position: absolute;
    max-width:50px;
    max-height:10px;
    margin-top: 1px;
    margin-left: 2px;
}

/********************/
/*    Skills bar    */
/********************/

.skills {
    position: absolute;
    width: 350px;
    margin-top: 50px;
    bottom: 50px;
    left: 25px;
    text-shadow: 1px 1px 1px #ccc;
}
.skill_item {
    color: #fff;
    border:solid;
    border-width:1px;
    background-color: #FFA500;
    border-color:#CC8400;
    padding: 2px 2px;
    box-shadow: 1px 1px 0px 0px #ccc;
}
.skill_item:hover {
    background-color: #DFE5A9;
    border-color:#B2B787;
}
.skill_item.disabled {
    color: #999;
    border-color: #999;
    background-color: #ccc;
}
.skill_item.disabled:hover {
    border-color: #999;
    background-color: #ccc;
}
.skill_item.disabled:hover {
    background-color: #ccc;
}

/********************/
/*  Job interface   */
/********************/

.job_bar_XP {
    position: absolute;
    width:300px;
    left:90px;
    line-height: 10px;
    border:solid;
    border-width:1px;
    font-size: 11px;
    text-align:center;
    color:#000;
    z-index:1;
    margin-left: 2px;
}
.job_barcur_XP {
    position: absolute;
    left:90px;
    max-width:300px;
    max-height:10px;
    margin-top: 1px;
    margin-left: 2px;
    background-color: #9D7CBC;
}
.job_level {
    position: absolute;
    right: 50px;
    top:35px;
}
.craft_block_box {
    position: relative;
    margin-top:30px;
}
.craft_box {
    display: inline-block;
    text-align: center;
    width: 218px;
    height: 75px;
    border:solid;
    border-width:1px;
    margin: 5px;
    background-color: #E7E0CF;
}
.craft_box_title {
    text-align: center;
    font-weight: bold;
}
.craft_box_ingredient {
    display: inline-block;
    text-align: center;
    border:solid;
    border-width:1px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 28%;
    padding: 1px;
    background-color: #EDE8DB;
}
.craft_box_ingredient_name {
    text-align: center;
}
.craft_box_ingredient_number {
}
.craft_box_XP {
    position: relative;
}
.craft_box_bar_XP {
    position: absolute;
    left:59px;
    width:100px;
    line-height: 10px;
    border:solid;
    border-width:1px;
    font-size: 11px;
    text-align:center;
    z-index:1;
    margin-top: 2px;
    border-color: #000;
    background-color: #EDE8DB;
}
.craft_box_barcur_XP {
    position: absolute;
    left:60px;
    max-width:100px;
    height:10px;
    z-index:2;
    margin-top: 3px;
    background-color: #CAADD6;
}
.gathering {
    position: absolute;
    width: 175px;
    margin-top: 50px;
    bottom: 500px;
    left: 25px;
    text-shadow: 1px 1px 1px #ccc;
}
.gathering_item {
    color: #fff;
    border:solid;
    border-width:1px;
    background-color: #FFA500;
    border-color:#CC8400;
    padding: 2px 2px;
    box-shadow: 1px 1px 0px 0px #ccc;
}

/********************/
/*     Menu bar     */
/********************/

.menu_bar_fixed {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align:center;
}
.menu_bar {
    display: inline-block;
    text-align: left;
}
.menu_item {
    color: #CB5D52;
    border:solid;
    border-width:1px;
    background-color: #E5CDA9;
    padding: 2px 2px;
    box-shadow: 1px 1px 0px 0px #E1A39D;
}
.menu_item:hover {
    background-color: #fff;
}
.menu_item.disabled {
    color: #999;
    background-color: #ccc;
    box-shadow: 1px 1px 0px 0px #666;
}
.menu_item.disabled:hover {
    background-color: #ccc;
}

/********************/
/*     Chat log     */
/********************/

.log {
    position: absolute;
    width: 95%;
    bottom: 5px;
    text-shadow: 1px 1px 1px #ccc;
}
#logentry {
    width: 95%;
    height: 20px;
    border-radius: 3px 3px 3px 3px;
    background-color: #E7E0CF;
    padding: 0 5px;
}

/***********/
/* General */
/***********/

.title_game {
  background-color:#999;
  margin-bottom:10px;
}

/****************/
/*  Tabs_main   */
/****************/

.tabs_main {
  display: flex;
}

.tabs_btn_main {
  flex-basis:140px;
  margin-right:5px;
}
.tabs_btn {
  cursor:pointer; cursor:hand;
  background:#3498db;
  border-radius:10px;
  padding:5px 15px;
  margin:5px;
  color:#ffffff;
  font-size:20px;
  width:100px;
  text-align:center;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:-moz-none;
  -o-user-select:none;
  user-select:none;
}
.tabs_btn:hover {
  background:#3cb0fd;
}
.tabs_btn_active {
  background-color:#660000;
}
.tabs_btn_active:hover {
  background-color:#880000;
}

.tabs_content_main {
  position: relative;
  flex: 2;
  border:1px solid #000;
  padding:5px 15px;
  min-height:600px;
}
.tabs_content {
  display:none;
}
.tabs_content_active {
  display:inline !important;
}

.tabs_chat_main {
  position: relative;
  flex: 1;
  margin-left:5px;
  border:1px solid #000;
  padding:10px;
}
